<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Jared Malabed</title>
  </head>
  <body>
    <div class="j-nav1">
      <h1 class="text-center pt-3">Hi! I'm Jared Malabed</h1>
      <div class='d-flex w-100 justify-content-around'>
        <a href='/' >Home</a>
        <a href='/projects' >Projects</a>

    </div>
    <hr class='j-hr'/>
  </div>
  <div class="container">

  <h1>The Administrator</h1>
  <h2>Description</h2>
    <p>This project was something that was inspired by my past as a consultant and how that meant frequent office visits. I had not been near an office since the beginning of quarantine in San Francisco. I was wondering how a new office guest software would handle guests in the dynamic post pandemic environment, and ended up with what I pictured would be the requirement for what an office would need.</p>
    <h2>Software</h2>
    <p>This project was the capstone project for my coursework at General Assembly. It was built using the MERN stack and utilizes Mongo Atlas as a database and Heroku for a back end Node server.</p>
    <h2>Learning and Growth</h2>
    <p>I really enjoyed learning about several aspects of the code that I worked with over the course of this project. I'm also proud of how uniform I was able to get the application. Things that I learned in this project include: </p>
    <ul>
      <li>Twilio SMS</li>
      <li>React Portals</li>
      <li>React-Bootstrap</li>
    </ul>
    <h3>Twilio SMS</h3>
    <p>After struggling with email notifications, I decided to integrate the Twilio API to send SMS messages which was a good first step in getting this application where I want it to be in terms of engaging its users. I'm glad I did. The Twilio API is well documented and has several examples to get you started. It also has a free trial period that helps you decide if it is what you are looking to add to your application! Super inviting and easy to envision using, 10/10 experience.</p>

    <p>Code Snippet Here</p>
    <p>My takeaway from this particular portion of code is that most environmental variables that you store should be in your back end, server side file. All environmental variables placed on your client side application can easily be found and are exposed. Integrating this API meant adding the fetch request to my front end application and adding the server side API call on the back end. I also learned how simple it can be to implement new features on an application. </p>
    <h3>React Portal</h3>
    <p>After giving a quick presentation on React Portals as a class assignment, I felt the need to implement them into my project. I referenced my notes from my presentation preparation and got this functioning fairly easily.</p>
    <p>Code Snippet Here</p>
    <p>What I learned from this section of code is that React portals are easy to add to your React application, HOWEVER, playing with styling here can be the deciding factor in making them wonderful or having them be super frustrating. I was initially confused as my react portal was coming into the DOM as expected, but it was not showing anything on the page. After some quick formatting and adding a background, I was able to add update functionality in my portal component which added a nice feel to my user interface. Another small thing to note is that while using React Hooks would be my preference any time I create an app with React, the documentation for most React items is written using older syntax that can make things feel convoluted.</p>
    <h3>React-Bootstrap</h3>
    <p>After using Bootstrap on another project and trying to avoid a styling framework in several other projects, I decided that the clean and consistent styling with the React-Bootstrap components were the way to go for this application. Styling is something that I always tend to spend a long time pondering, so having building blocks to get started was a major time saver for me.</p>
    <p>Code Snippet, Picture here</p>
    <p>As this was my first solo project since my first project in class, I really wanted to take the time and make sure everything was on the same level and looked cohesive. As I learned, there is no better way to accomplish this complete feeling than implementing a styling framework to tie everything together into a neat stylistic motif. In addition, I also learned about color accessibility and found a <a href='https://webaim.org/resources/contrastchecker/'>tool</a>  to make sure that colors you are using are easy to read for those who may have color blindness or other vision impairments. I would love to integrate ideas that are on the same train of thought of accessibility in my future work.</p>
  </div>
  <div class="container pb-3">
    <footer class="d-flex justify-content-around  align-items-center">
      <a href="https://www.linkedin.com/in/jaredmalabed/" class="footer-icon" target="_blank" rel="noopener">
        <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="LinkedIn icon" class="social">
      </a>
      <a href="https://github.com/jmalabed/" target="_blank" rel="noopener"><img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="GitHub Link" class="social"></a>
    </footer>
  </div>
  </body>
</html>
