@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;400&display=swap");
html,
body {
  height: 100%;
  font-family: "IBM Plex Serif", serif;
  background-color: #faf0e6;
}
.j_splash {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #8fbc8f;
  color: black;
}
h1 {
  font-weight: 400;
  color: black;
}
h1 + p {
  font-weight: 100;
}
body {
  background-color: #fffaf0;
  font-size: 1.25em;
  margin: 0 auto;
}
a {
  color: brown;
}

footer {
  margin-top: 40px;
  background-color: #faf0e6;
  background-color: #fffaf0;
  font-size: 0.3em;
}

.social {
  width: 5vw;
}
.j-img {
  width: 45%;
  max-width: 200px;
  border-radius: 50%;
  border: #faf0e6 3px solid;
}
.j-coverImg {
  background-image: url("https://live.staticflickr.com/65535/51265396566_cbe497e3eb_k.jpg");
  background-size: cover;
  border-radius: 20px;
  border: solid 5px #faf0e6;
  color: #faf0e6;
  margin-bottom: 30px;
  padding-top: 10px;
}

.j-hr {
  color: #faf0e6;
}
.j-nav {
  background-color: #faf0e6;
}

.j-navLink {
}
